<app-banner-top></app-banner-top>
<div class="container main-container">

  <h5>Produtos</h5>
  <hr>
  <div class="row mb-3">
    <form (ngSubmit)="pesquisar()" class="col-md-12">
      <div class="input-group">
        <input style="max-width: 100%; " type="text" class="form-control" placeholder="O que está procurando"
          aria-label="Input group example" [formControl]="nome" aria-describedby="btnGroupAddon">
        <div class="input-group-prepend">
          <button class="btn btn-primary" (click)="pesquisar()"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <div class="row text-center">
    <div [ngClass]="{'col-12': pedido.status !== pedidoStatus.Aberto,'col-8':pedido.status==pedidoStatus.Aberto}">
      <app-card-produto [produtos]=" produtos.list"
        (adicionarProduto)="adicionarProdutoAoPedido($event)"></app-card-produto>
    </div>
    <div class="col-4" *ngIf="pedido.status == pedidoStatus.Aberto">
      <app-pedido-resumo [(pedido)]="pedido" *ngIf="pedido.status == pedidoStatus.Aberto"></app-pedido-resumo>
    </div>

  </div>

  <div class="row">
    <ngb-pagination [collectionSize]="produtos.totalResults" [pageSize]="produtos.pageSize"
      [(page)]="produtos.pageIndex" (pageChange)="pesquisar()"></ngb-pagination>
  </div>
</div>
<!-- Fim Content -->