<div class="container main-container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img src="./assets/douglas-perfil.jpg" width="150" class="rounded-circle">
        </div>

        <div class="text-center mt-3">
          <h5 class="mt-2 mb-0">Douglas Costa</h5>
          <span>Desenvolvedor Full Stack | Asp.NET | ASP.NET Core | C# | Angular</span>

          <div class="px-4 mt-1">
            <span class="">Telefone: (11) 98148-9534</span><br>
            <span class="">E-mail: douglasddmc@gmail.com</span>
          </div>

          <ul class="social-list">
            <li><a href="https://github.com/douglas-mcosta/BtgTesteTecnico" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-github"></i></a></li>
            <li><a href="www.linkedin.com/in/douglas-mcosta" target="_blank" rel="noopener noreferrer"><i
                  class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>